[Unit]
Description=Set up initial user configuration
ConditionPathExists=%h/.config/.setup-user

[Service]
Type=oneshot
ExecStart=/bin/sh -e /usr/local/lib/cleanup/setup-user.sh
ExecStartPost=/bin/rm -f %h/.config/.setup-user

[Install]
WantedBy=gnome-session-pre.target
